.advent-calendar {
  display: grid;
  grid-template-columns: repeat(6, 16.6%);
  column-gap: 0;
  row-gap: 0;
}

.views-live-preview div.views-row + div.views-row {
  margin-top: 0;
}

.advent-calendar .views-row {
  margin-top: 0;
}
