.advent-calendar-door .door-closed {
  position: relative;
}

.advent-calendar-door .door-closed img {
  width: 100%;
}

.advent-calendar-door .door-area {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
}

.advent-calendar-door .door-closed .door-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 4em;
}

.advent-calendar-door .door-closed-clickable::before {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  content: " ";
  pointer-events: none;
  border: 1px solid yellow;
}

.advent-calendar-door .door-closed .door-link:hover .door-number {
  text-decoration: underline;
  font-size: 4.5em;
}

@media screen and (max-width: 700px) {
  .advent-calendar-door .door-closed .door-number {
    font-size: 3em;
  }

  .advent-calendar-door .door-closed .door-link:hover .door-number {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 500px) {
  .advent-calendar-door .door-closed .door-number {
    font-size: 2em;
  }

  .advent-calendar-door .door-closed .door-link:hover .door-number {
    font-size: 2.4em;
  }
}

@media screen and (max-width: 350px) {
  .advent-calendar-door .door-closed .door-number {
    font-size: 1.5em;
  }

  .advent-calendar-door .door-closed .door-link:hover .door-number {
    font-size: 1.75em;
  }
}

.door-inner-image {
  position: absolute;
  z-index: -1;
  top: 15%;
  left: 15%;
  max-width: 70%;
  max-height: 70%;
}

.advent-calendar-door .door-open:has(.door-link:hover) .door-inner-image {
  top: 10%;
  left: 10%;
  max-width: 80%;
  max-height: 80%;
}

.advent-calendar-door .door-open {
  position: relative;
}

.advent-calendar-door .door-open img {
  width: 100%;
}

.advent-calendar-door:not(.open) .door-open {
  display: none;
}

.advent-calendar-door.open .door-closed {
  display: none;
}
