<div id="advent-calendar-{{ calendar|striptags|trim }}-{{ day|striptags|trim }}" class="advent-calendar-door">
  {% if 'True' in unlocked|render %}
    <div class="door-closed door-closed-clickable">
      {% if door_closed_image %}
        <img src="{{ door_closed_image }}" alt="Door number {{ day|striptags|trim }}" />
      {% else %}
        <img src="/{{ componentMetadata.path }}/assets/advent_calendar_door_closed.svg" alt="Door number {{ day|striptags|trim }}" />
      {% endif %}
      <a href="{{ path|striptags }}" class="door-link" data-calendar="{{ calendar|striptags|trim }}" data-day="{{ day|striptags|trim }}">
        <div class="door-area">
          <div class="door-number">{{day}}</div>
        </div>
      </a>
    </div>
    <div class="door-open door-open-clickable">
      <img class="door-inner-image" src="{{ door_image|striptags }}" alt="{{ title|striptags }}" />
      {% if door_open_image %}
        <img id="door-open-image" src="{{ door_open_image }}" alt="Door number {{ day|striptags|trim }}" />
      {% else %}
        <img id="door-open-image" src="/{{ componentMetadata.path }}/assets/advent_calendar_door_open.svg" alt="Door number {{ day|striptags|trim }}" />
      {% endif %}
      <a href="{{ path|striptags }}" class="door-link" data-calendar="{{ calendar|striptags|trim }}" data-day="{{ day|striptags|trim }}">
        <div class="door-area"></div>
      </a>
    </div>
  {% else %}
    <div class="door-closed">
      {% if door_closed_image %}
        <img src="{{ door_closed_image }}" alt="Door number {{ day|striptags|trim }}" />
      {% else %}
        <img src="/{{ componentMetadata.path }}/assets/advent_calendar_door_closed.svg" alt="Door number {{ day|striptags|trim }}" />
      {% endif %}
      <div class="door-number">{{day}}</div>
    </div>
  {% endif %}
</div>
