{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 *
 * @see template_preprocess_views_style_advent_calendar_advent_calendar()
 */
#}
{{ attach_library ('advent_calendar/advent_calendar') }}
{%
  set classes = [
    'advent-calendar',
    'advent-calendar-' ~ id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% set row_classes = [default_row_class ? 'views-row'] %}
  {% for row in rows %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
  {% endfor %}
</div>
